<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Celtics</key>
	<string>http://www.nba.com/celtics/</string>
	<key>Nets</key>
	<string>http://www.nba.com/nets/</string>
	<key>Knicks</key>
	<string>http://www.nba.com/knicks/</string>
	<key>Sixers</key>
	<string>http://www.nba.com/sixers/</string>
	<key>Raptors</key>
	<string>http://www.nba.com/raptors/</string>
	<key>Bulls</key>
	<string>http://www.nba.com/bulls/</string>
	<key>Cavaliers</key>
	<string>http://www.nba.com/cavaliers/</string>
	<key>Pistons</key>
	<string>http://www.nba.com/pistons/</string>
	<key>Pacers</key>
	<string>http://www.nba.com/pacers/</string>
	<key>Bucks</key>
	<string>http://www.nba.com/bucks/</string>
	<key>Hawks</key>
	<string>http://www.nba.com/hawks/</string>
	<key>Heat</key>
	<string>http://www.nba.com/heat/</string>
	<key>Bobcats</key>
	<string>http://www.nba.com/bobcats/</string>
	<key>Wizards</key>
	<string>http://www.nba.com/wizards/</string>
	<key>Magic</key>
	<string>http://www.nba.com/magic/</string>
</dict>
</plist>
